<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>
  
<body style="background-color:rgb(109, 148, 148);">
  <h1><%= title %></h1>
  <img src = "https://scontent-yyz1-1.xx.fbcdn.net/v/t1.6435-9/83589505_1042684796094010_3158954360377966592_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=174925&_nc_ohc=YvG5FATW5QoAX9UDcMG&_nc_ht=scontent-yyz1-1.xx&oh=00_AT_PnZuJsNxdFHgfPcH5M-AjJbnGudXywslEuN4HWW9dUw&oe=6379B888"  style="width:300px"  alt="profile photo">
   <p>Welcome to my information page: <%= title %></p>
   <p>My name is Binh Hoang.</p>
   <p>I am currently second year student of Sotfware Engineering Technology - Ai of Centennial College.</p> 
   <p> I am from Viet Nam and current pursueing my internation student life. I love Canada!</p>

    
<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>