<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>


<body style="background-color:rgb(109, 148, 148);">
  
  <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQFSK3NLe3ot-A/company-logo_200_200/0/1519880332160?e=2147483647&v=beta&t=QOY2dbrv8WX8McWVxiwUhZBX0Ma3nDJ7IOECI_vS95o" alt="Mountain" style="width:200px" width="400"  >
<br><br><br>
<p>Welcome to our information page: <%= title %></p>
<p>Our is group number 3</p>
<p>Hi, Welcome to our pages first demo, This will be the landing page. We are in the building process. See you soon </p> 



<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>

