<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>

<h1><%= title %></h1>
<body style="background-color:rgb(109, 148, 148);">

<p>I am glad to bring you the best experiences!</p>
<p>These are some languages you can looking for:</p>
<ul>

<li>Html<img  src="https://w7.pngwing.com/pngs/840/443/png-transparent-html-5-logo-web-development-html-css3-canvas-element-web-design-w3c-html5-logo-miscellaneous-text-orange.png" alt="java" style="width:100px" width="1460" ></li>
<li>CSS<img  src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/121-css3-512.png" alt="java" style="width:100px" width="1460" ></li>
<li>Javascript<img  src="https://i.pinimg.com/736x/28/75/3d/28753ddf79d70042ba86564947e13bf5.jpg" alt="java" style="width:100px" width="1460" ></li>
<li>Java<img  src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/1200px-Java_programming_language_logo.svg.png" alt="java" style="width:100px" width="1460" ></li>
<li>Unix Linux<img  src="https://beta.techcrunch.com/wp-content/uploads/2009/07/unixlinux.jpg" alt="java" style="width:100px" width="1460" ></li>

</ul>  

</body>
<br><br><br><br><br><br><br>
   <%-include ('partials/bottom_nav.ejs');%>
<%-include ('partials/footer.ejs');%>   


