<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>

<h1><%= title %></h1>
<body style="background-color:rgb(109, 148, 148);">

 
   <p>We are planing to build an fashion store web for selling clothes and shoes, so on.</p>

   <ul>
    
     <li><img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaP-bRnYGapqJsCrclXvuWPQgQvZGD1AeRtQ&usqp=CAU" alt="java" style="width:800px" width="1460" ></li>
     
     
   </ul>  
   
   </body>
<br><br><br><br><br><br><br>
   <%-include ('partials/bottom_nav.ejs');%>
<%-include ('partials/footer.ejs');%>   


